* {
  margin: 0;
  padding: 0;
  /* color: rgb(221, 21, 108); */
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1505144808419-1957a94ca61e?q=80&w=1852&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

h2 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  text-align: center;
  font-size: 14px;
}

.clock {
  display: flex;
  /* gap: 10px; */
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  background: rgb(11, 139, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.8;
  background: darkblue;
}
.clock #ampm {
  bottom: 0;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: #1d5b92;
}
